body {
    background-color: white;
    width: 1300px;
    margin: 30px auto;
    font-family: sans-serif;
    border: 1px solid black;
    padding: 10px 20px 10px;
}

body p{
    padding-top: 10px;
}

nav{
    text-align: right;
    border-bottom: 3px solid darkslategray;
}
html{
    background-image:linear-gradient(to left, #edf1f7, #5ac3f3);
    background-size: cover;
}
nav ul {
    margin: 10px;
}
nav ul a{
    padding-right: 15px;
    padding-left: 15px;
    color: darkblue;
}
main a{
    padding-right: 15px;
    padding-left: 15px;
    color: darkblue;  
}
main{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid darkslategray;
}
header{
   border-bottom: 3px solid darkslategray;
   padding-bottom: 10px;
}

footer{
    clear: both;
    text-align: right;
}

header img {
    float: left;
    width: 100px;
    margin-right: 50px;
}

header h1{
    
    margin-bottom: 0px;
    color: darkslategray;
   
}

header h2 {
    margin-top: 5px;
    color: darkblue;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
  padding-top: 10px;
}
.errormsg{
    color:red;
}
td, th{
    border: 2px black ridge;
    padding: 3px;
}